



nav input.form-control { width: 400px!important; }


.centering {

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 340px;

}

.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0 2px 2px rgb(0 0 0);
    padding: 30px;
    width: 340px;
}

.container {
    position: relative;
    width: 340px;
}

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.card-deck {
    margin: 20px;
}

.row {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.navbar-custom {
    background-color: #E63946;
}

.btn{
    background-color: #A8DADC;
    width: auto;
}

.counter {
    float: right;
}
.counter input {
    width: 50px;
    border: 0;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    appearance: none;
    outline: 0;
}
.counter span {
    display: inline;
    font-size: 25px;
    padding: 0;
    cursor: pointer;
    user-select: none;
}


.column1 .column2{
    float: left;
    width: 50%;
}


.rows:after {
    content: "";
    display: table;
    clear: both;
}

