



nav input.form-control { width: 400px!important; }

@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

@font-face {
    font-family: "San Francisco";
    font-weight: 700;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

@font-face {
    font-family: "San Francisco";
    font-weight: 200;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}

*{font-family:"San Francisco";}


.centering {

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 340px;

}

.login-form form {
    margin-bottom: 15px;
    border-radius: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5%;
    width: 300px;
    height: 400px;
}


.loginPage .container {
    position: relative;
}

.regPage .container {
    position: relative;
}

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.card-deck {
    margin: 20px;
}

.row .rowView{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.navbar-custom {
    background-color: #E63946;
}

.btn{
    background-color: #A8DADC;
    width: auto;
}

.counter {
    float: right;
}

.text-center p {
    padding: 15px 20px;
    text-align: center;
    border: 2px solid #f7f7f7;
    border-radius: 5%;
}

.text-center a {
    text-decoration: none;
    color: #457B9D;
    
}

.btn-block {
    display: block;
    width: 100%;
    text-align: center;
    position: relative;
    top: 50px;
}

.btn-block-register {
    display: block;
    width: 100%;
    text-align: center;
    position: relative;
    top: 30px;
}

.btn-block:hover {
    background-color: #457B9D;
    color: white;
}

.form-group .form-control {
    border-color: #A8DADC;
}

.form-login {
    padding-top: 20%;
    font-size: 14px;
    line-height: 20px;
    display: block;
    width: 100%;
}

.form-register {
    font-size: 14px;
    line-height: 20px;
    display: block;
    width: 100%;
}


.counter input {
    width: 50px;
    border: 0;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    appearance: none;
    outline: 0;
}
.counter span {
    display: inline;
    font-size: 25px;
    padding: 0;
    cursor: pointer;
    user-select: none;
}


.custom-avatar {
    max-width: 45px;
    max-height: 45px;

    /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
    background-image: url('images/user-default.png');
    
    /* make a square container */
    width: 150px;
    height: 150px;

    /* fill the container, preserving aspect ratio, and cropping to fit */
    background-size: cover;

    /* center the image vertically and horizontally */
    background-position: top center;

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;
}


.custom-avatar-reg {
    max-width: 90px;
    max-height: 90px;

    /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
    background-image: url('images/user-default.png');
    
    /* make a square container */
    width: 150px;
    height: 150px;

    /* fill the container, preserving aspect ratio, and cropping to fit */
    background-size: cover;

    /* center the image vertically and horizontally */
    background-position: top center;

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;
}
.cartHeader {
    font-weight: bold;
}

.cartItemField {
    min-width: 15rem;
}

.cartPriceField {
    min-width: 5rem;
}

.cartQuantityField {
    min-width: 3rem;
}

.dropdown {
    left: auto;
    right: 0.2rem;
    padding: 1rem;
}

.card-img {
    width: 100%;
    height: 100%;
    display:block;
    margin:auto;
    object-fit: scale-down;
}

.column-container {
    padding: 20px;
    height: 70%;
}

.column-container img {
    width: 70%;
    height: 70%;
    display:block;
    margin:auto;
    object-fit: scale-down;
}

.image-product {
    display: flex;
    margin: auto;
    object-fit: scale-down;
}

.column-product {
    width: 50%;
    float: left;
    height: 75%;
}

.price-text {
    display: inline-block;
    margin: auto;
    font-size: xx-large;
    font-weight: bold;
}

.btn-view {
    float: right;
    margin-right: 10%;
    text-align: center;
    font-weight: bold;
}


.title-view {
    padding: 2%;
    font-weight: 900;
    font-size: xxx-large;
}

.card-img-overlay {
    position:relative;
}

.card-text {
    right: 0;
    bottom: 0;
    position: absolute;
    font-size: larger;
}

.card-title{
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    top: 10px;
}

.card {
    border: 0;
    transition: all .2s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover{
    transform:scale(1.1);
}


.card button {
    float: none;
    display: block;
}

.card button:hover {
    background-color: #457B9D;
}

.checkout {
    margin-top: 5rem;
    max-width: 90%;
}

.expDate {
    display: inline;
}

.orderImage {
    max-width: 5rem;
    max-height: 5rem;
}

#addressError {
    color: red;
}

#paymentError {
    color: red;
}

.card-deck {
    margin: 40px auto;
}

.btn-admin {
    background-color: #457B9D;
    color: #F1FAEE;
}

.view-form {
    padding: 5%;
    justify-content: center;
}

#hide-form {
    display: none;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 6px 6px 12px;
    cursor: pointer;
    white-space: nowrap;
}

.navbar-brand:hover {
    transform:scale(1.3);
}

.navbar-brand {
    font-weight: 900;
    transition: all .2s ease-in-out;
}

html {
    scroll-behavior: smooth;
}

.nav-link {
    font-weight: bold;
}



