



nav input.form-control { width: 400px!important; } */


.centering {

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 340px;

}

.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0 2px 2px rgb(0 0 0 / 30%);
    padding: 30px;
    width: 340px;
}



.container {
    position: relative;
    width: 340px;
}



.content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }